@font-face {
  font-family: "MinecrafterAlt";
  src: url("../fonts/MinecrafterAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MinecrafterReg";
  src: url("../fonts/MinecrafterReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MinecrafterAlt";
  src: url("../fonts/MinecrafterAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MinecrafterReg";
  src: url("../fonts/MinecrafterReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
svg {
  background-color: none;
  fill: inherit;
  stroke: inherit;
}

button {
  border: none;
  background-color: none;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bricolage Grotesque", "Calibri", sans-serif;
  padding: 4px 0;
}

.icon_16x {
  width: 16px;
  height: 16px;
  background-color: none;
  margin: 4px 4px;
}

.icon_20x {
  width: 20px;
  height: 20px;
  background-color: none;
  margin: 4px 4px;
}

.icon_24x {
  width: 24px;
  height: 24px;
  background-color: none;
  margin: 4px 4px;
}

.icon_28x {
  width: 28px;
  height: 28px;
  background-color: none;
  margin: 4px 4px;
}

.icon_32x {
  width: 32px;
  height: 32px;
  background-color: none;
  margin: 4px 4px;
}

.icon_36x {
  width: 36px;
  height: 36px;
  background-color: none;
  margin: 4px 4px;
}

.icon_40x {
  width: 40px;
  height: 40px;
  background-color: none;
  margin: 4px 4px;
}

.icon_44x {
  width: 44px;
  height: 44px;
  background-color: none;
  margin: 4px 4px;
}

.icon_48x {
  width: 48px;
  height: 48px;
  background-color: none;
  margin: 4px 4px;
}

.icon_52x {
  width: 52px;
  height: 52px;
  background-color: none;
  margin: 4px 4px;
}

.lights_on {
  background-color: #fcdf69;
  border: 1px solid #fcdf69;
}

.lights_off {
  background-color: #404040;
  border: 1px solid #404040;
}

.image_500x {
  width: 500px;
  height: 500px;
  margin: 4px 4px;
}

@keyframes animation-up-down {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animation-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animation-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
::selection {
  background: #737373;
  color: #fff;
}

::-webkit-selection {
  background: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Calibri", sans-serif;
}

.nav_container {
  padding: 16px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 2px 2px #e5e5e5;
  background-color: #ffffff;
  z-index: 99;
  display: none;
}
.nav_container span {
  font-family: "Bricolage Grotesque", "Calibri", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 0 8px;
}
.nav_container .menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50dvw;
}
.nav_container .float_left {
  justify-content: flex-start;
}
.nav_container .float_right {
  justify-content: flex-end;
}
.nav_container .float_even {
  justify-content: space-between;
}
.nav_container .menu_link {
  width: 120px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  color: #a3a3a3;
  transition: 0.3s all;
}
.nav_container .menu_link svg {
  fill: #a3a3a3;
  transition: 0.3s all;
}
.nav_container .menu_link:hover {
  color: #0a0a0a;
  transition: 0.3s all;
}
.nav_container .menu_link:hover svg {
  fill: #0a0a0a;
  transition: 0.3s all;
}

.nav_container_burger {
  padding: 16px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 2px 2px #e5e5e5;
  background-color: #ffffff;
}
.nav_container_burger span.header {
  font-family: "Bricolage Grotesque", "Calibri", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 0 8px;
}
.nav_container_burger span.link_name {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
}
.nav_container_burger .burger_icon {
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
}
.nav_container_burger .burger_icon span {
  display: block;
  height: 4px;
  margin: 4px;
  background-color: #0a0a0a;
  border-radius: 8px;
}
.nav_container_burger .menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50dvw;
}
.nav_container_burger .menu_burger {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: flex-start;
  top: 80px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 220px;
}
.nav_container_burger .menu_burger .button_theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  width: 100%;
  height: auto;
}
.nav_container_burger .menu_burger .button_theme:after {
  content: "Change Theme";
  font-weight: 500;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
}
.nav_container_burger .float_left {
  justify-content: flex-start;
}
.nav_container_burger .float_right {
  justify-content: flex-end;
}
.nav_container_burger .float_even {
  justify-content: space-between;
}
.nav_container_burger .menu_link {
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  color: #a3a3a3;
  transition: 0.3s all;
}
.nav_container_burger .menu_link svg {
  fill: #a3a3a3;
  transition: 0.3s all;
}
.nav_container_burger .menu_link:hover {
  color: #0a0a0a;
  transition: 0.3s all;
}
.nav_container_burger .menu_link:hover svg {
  fill: #0a0a0a;
  transition: 0.3s all;
}

.playground_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100dvw;
  padding: 12px 40px;
}
.playground_container .element_container {
  margin: 12px 0;
}
.playground_container .input_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 8px;
}
.playground_container .input_container input[type=text] {
  margin-top: 8px;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-bottom: 2px solid #0a0a0a;
  font-size: 14px;
  width: 500px;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 4px 4px 0 0;
}
.playground_container .input_container input[type=text]:focus {
  outline: none;
  border-bottom-color: #fac905;
  background-color: #fefae6;
}
.playground_container .input_container .label_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.playground_container .input_container .label_container label {
  margin-left: 4px;
  font-size: 14px;
}
.playground_container .textarea_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 8px;
}
.playground_container .textarea_container textarea {
  margin-top: 8px;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-bottom: 2px solid #0a0a0a;
  font-size: 14px;
  width: 500px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 4px 4px 0 0;
  resize: none;
  overflow-y: scroll;
}
.playground_container .textarea_container textarea:focus {
  outline: none;
  border-bottom-color: #fac905;
  background-color: #fefae6;
}
.playground_container .textarea_container .label_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.playground_container .textarea_container .label_container label {
  margin-left: 4px;
  font-size: 14px;
}
.playground_container .button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  width: 500px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  background-color: #fbd437;
  box-shadow: 4px 4px 1px 1px #d4d4d4;
  margin-bottom: 20px;
}
.playground_container .button_container:hover {
  background-color: #fac905;
}
.playground_container .button_container:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px 1px #737373;
}
.playground_container a.social_media_links {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  height: 52px;
  width: 500px;
  box-shadow: 4px 4px 1px 1px #d4d4d4;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.playground_container a.social_media_links #external {
  transition: 0.3s all;
}
.playground_container a.social_media_links .social_text_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.playground_container a.social_media_links .social_text_container span {
  padding-left: 16px;
}
.playground_container a.social_media_links:hover {
  color: #0a0a0a;
  transition: 0.3s img;
  border: 1px solid #737373;
  background-color: #e5e5e5;
}
.playground_container a.social_media_links:hover #external {
  transform: translateX(2px) translateY(-2px);
  transition: 0.3s all;
}
.playground_container a.social_media_links:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px 1px #737373;
}
.playground_container .radio_container, .playground_container .check_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.playground_container .radio_container .radio_item, .playground_container .radio_container .check_item, .playground_container .check_container .radio_item, .playground_container .check_container .check_item {
  margin: 0 8px 0 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  transition: 0.3s all;
  border-radius: 4px;
  cursor: pointer;
}
.playground_container .radio_container .radio_item label, .playground_container .radio_container .check_item label, .playground_container .check_container .radio_item label, .playground_container .check_container .check_item label {
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  cursor: inherit;
}
.playground_container .radio_container .radio_item:hover, .playground_container .radio_container .radio_item:active, .playground_container .radio_container .check_item:hover, .playground_container .radio_container .check_item:active, .playground_container .check_container .radio_item:hover, .playground_container .check_container .radio_item:active, .playground_container .check_container .check_item:hover, .playground_container .check_container .check_item:active {
  background-color: #fef4cd;
  border: 1px solid #fef4cd;
  transition: 0.3s all;
}

.button_theme {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 4px 4px 1px 1px #d4d4d4;
}
.button_theme svg {
  stroke: #0a0a0a;
}
.button_theme:hover {
  border-color: #fbd437;
  background-color: #fbd437;
}
.button_theme:hover svg {
  stroke: #322801;
  fill: #322801;
}
.button_theme:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px 1px #737373;
}

.active_menu_item {
  background-color: #fef4cd;
  color: #0a0a0a !important;
}
.active_menu_item svg {
  fill: #0a0a0a !important;
}

.dialog_container {
  border: 1px solid #e5e5e5;
  padding: 16px;
  border-radius: 12px;
  width: 700px;
  max-height: 500px;
}
.dialog_container .dialog_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.dialog_container .close_dialog {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  background-color: #ffd4d4;
  border: 1px solid #a10000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 1px 1px #d4d4d4;
}
.dialog_container .close_dialog:hover {
  background-color: #ffc3c3;
}
.dialog_container .close_dialog:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 1px 1px #737373;
}
.dialog_container .dialog_body {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dialog_container .dialog_body .chat_bubble {
  padding: 12px;
  margin: 8px 0;
}
.dialog_container .dialog_body #user {
  align-self: flex-end;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: fit-content;
  max-width: 400px;
  box-shadow: 4px 4px 6px 0px #e5e5e5;
}
.dialog_container .dialog_body #admin {
  align-self: flex-start;
}
.dialog_container .dialog_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dialog_container .dialog_footer #chat_message {
  padding: 8px 12px;
  border: 1px solid transparent;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  width: 90%;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.dialog_container .dialog_footer #chat_message:focus {
  outline: none;
  border: 1px solid #fac905;
  background-color: #fefae6;
}
.dialog_container .dialog_footer .send_message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 4px;
  background-color: #fefae6;
  border: 1px solid #fac905;
}
.dialog_container .dialog_footer .send_message:hover {
  background-color: #fef4cd;
}

.dialog_container[open] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

::backdrop {
  background-color: #e5e5e5;
  opacity: 0.75;
  overflow: hidden;
}/*# sourceMappingURL=test.css.map */