@import 'variables';

// ----------------------------------------------------------
//              OVERRIDING DEFAULT ELEMENT STYLE
// ----------------------------------------------------------

svg { background-color: none; fill: inherit; stroke: inherit; }
button { border: none; background-color: none; &:hover { cursor: pointer; } }
a { text-decoration: none; color: inherit; font-size: 14px; font-weight: 600; }
h1, h2, h3, h4, h5, h6 { font-family: $font_header; padding: 4px 0;}


// ----------------------------------------------------------
//                      STATIC STYLES
// ----------------------------------------------------------

.icon_16x { width: 16px; height: 16px; background-color: none; margin: 0 4px;}
.icon_20x { width: 20px; height: 20px; background-color: none; margin: 0 4px;}
.icon_24x { width: 24px; height: 24px; background-color: none; margin: 0 4px;}
.icon_28x { width: 28px; height: 28px; background-color: none; margin: 0 4px;}
.icon_32x { width: 32px; height: 32px; background-color: none; margin: 0 4px;}
.icon_36x { width: 36px; height: 36px; background-color: none; margin: 0 4px;}
.icon_40x { width: 40px; height: 40px; background-color: none; margin: 0 4px;}
.icon_44x { width: 44px; height: 44px; background-color: none; margin: 0 4px;}
.icon_48x { width: 48px; height: 48px; background-color: none; margin: 0 4px;}
.icon_52x { width: 52px; height: 52px; background-color: none; margin: 0 4px;}
.lights_on { background-color: $color_sec_mutedgold_300; border: 1px solid $color_sec_mutedgold_300; }
.lights_off { background-color: $color_prim_neutral_700; border: 1px solid $color_prim_neutral_700; }


// ----------------------------------------------------------
//                   ANIMATION KEYFRAMES
// ----------------------------------------------------------


@keyframes animation-up-down {
    0% { 
        transform: translateY(0px); 
    }
    25% { 
        transform: translateY(-4px); 
    }
    50% { 
        transform: translateY(0px); 
    }
    75% { 
        transform: translateY(4px); 
    }
    100% { 
        transform: translateY(0px); 
    }
}

@keyframes animation-marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

::selection {
    background: $color_prim_neutral_500;
    color: #fff;
}
::-webkit-selection {
    background: $color_prim_neutral_200;
}
