// ----------------------------------------------------------
//                    DEFINING COLOR PALETTE
// ----------------------------------------------------------

// Primary Color
$color_prim_neutral_main    : #0a0a0a;

$color_prim_neutral_050     : #fafafa;
$color_prim_neutral_100     : #f5f5f5;
$color_prim_neutral_200     : #e5e5e5;
$color_prim_neutral_300     : #d4d4d4;
$color_prim_neutral_400     : #a3a3a3;
$color_prim_neutral_500     : #737373;
$color_prim_neutral_600     : #525252;
$color_prim_neutral_700     : #404040;
$color_prim_neutral_800     : #262626;
$color_prim_neutral_900     : #171717;
$color_prim_neutral_950     : #0a0a0a;

// Secondary Color
$color_sec_mutedgold_main   : #eab308;

$color_sec_mutedgold_050    : #fefae6;
$color_sec_mutedgold_100    : #fef4cd;
$color_sec_mutedgold_200    : #fde99b;
$color_sec_mutedgold_300    : #fcdf69;
$color_sec_mutedgold_400    : #fbd437;
$color_sec_mutedgold_500    : #fac905;
$color_sec_mutedgold_600    : #c8a104;
$color_sec_mutedgold_700    : #967903;
$color_sec_mutedgold_800    : #645002;
$color_sec_mutedgold_900    : #322801;
$color_sec_mutedgold_950    : #191401;

$color_white                : #ffffff;

$color_github_main          : #28a745;
$color_github_dark          : #1b6f2e;
$color_github_bg_100        : #eaf8ed;
$color_github_bg_200        : #d5f1db;


// ----------------------------------------------------------
//                    DEFINING FONT FAMILY
// ----------------------------------------------------------

@font-face {
    font-family: "MinecrafterAlt";
    src: url("../fonts/MinecrafterAlt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MinecrafterReg";
    src: url("../fonts/MinecrafterReg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$font_header            : "Bricolage Grotesque", "Calibri", sans-serif;
$font_body              : "Open Sans", "Calibri", sans-serif;
$font_minecrafter_alt   : 'MinecrafterAlt', $font_header, 'Calibri', sans-serif;
$font_minecrafter_reg   : 'MinecrafterReg', $font_header, 'Calibri', sans-serif;
