<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepraj Adhikary | Admin</title>
    <link rel="stylesheet" href="{{ url_for('bp_gui.static', filename='styles/css/test.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav_container">
        <div class="menu_item float_even">
            <img src="{{ url_for('bp_gui.static', filename='images/logo/DA_NoBG_Black.svg') }}" alt="" srcset="" class="icon_40x">
            <span>Admin Dashboard</span>
        </div>
    </nav>

    <div class="playground_container">

        <div class="element_container">
            <h2>Input Fields</h2>
            
            <div class="input_container">
                <div class="label_container">
                    <img class="icon_20x" alt="Banner GIF" src="{{ url_for('bp_gui.static', filename='images/icons/User.svg') }}" />
                    <label for="user_name">User</label>
                </div>
                <input type="text" name="user_name" id="user_name" placeholder="Jane Doe">
            </div>
            
            
            <div class="textarea_container">
                <div class="label_container">
                    <img class="icon_20x" alt="Banner GIF"
                        src="{{ url_for('bp_gui.static', filename='images/icons/Chat-Unread.svg') }}" />
                    <label for="message">Message</label>
                </div>
                <textarea name="message" id="message" rows="10" placeholder="Write a message you want to share"></textarea>
            </div>
        </div>

        <div class="element_container">
            <h2>Clickable Buttons</h2>
            <button type="button" name="submit" id="submit" class="button_container">
                Send Message
                <img class="icon_20x" alt="Banner GIF" src="{{ url_for('bp_gui.static', filename='images/icons/Plain.svg') }}" />
            </button>
            
            <a href="javascript:script(0);" class="social_media_links">
                <div class="social_text_container">
                    <img class="icon_28x" alt="Banner GIF"
                        src="{{ url_for('bp_gui.static', filename='images/social_media/instagram.png') }}" />
                    <span>@deep_dev_uiux | Instagram</span>
                </div>
                <img class="icon_20x" id="external" alt="Banner GIF"
                    src="{{ url_for('bp_gui.static', filename='images/icons/external-link.svg') }}" />
            </a>
        </div>

        <div class="element_container">
            <h2>Radio & Check Buttons</h2>
            
            <div class="radio_container">
                <div class="radio_item">
                    <input type="radio" name="radio" id="radio1" />
                    <label for="radio1">Radio Button 1</label>
                </div>
                <div class="radio_item">
                    <input type="radio" name="radio" id="radio2" />
                    <label for="radio2">Radio Button 2</label>
                </div>
                <div class="radio_item">
                    <input type="radio" name="radio" id="radio3" />
                    <label for="radio3">Radio Button 3</label>
                </div>
            </div>

            <div class="check_container">
                <div class="check_item">
                    <input type="checkbox" name="check" id="check1" />
                    <label for="check1">Check Button 1</label>
                </div>
                <div class="check_item">
                    <input type="checkbox" name="check" id="check2" />
                    <label for="check2">Check Button 2</label>
                </div>
                <div class="check_item">
                    <input type="checkbox" name="check" id="check3" />
                    <label for="check3">Check Button 3</label>
                </div>
            </div>
        
        </div>
        
    </div>
    <script src="{{ url_for('bp_gui.static', filename='scripts/test.js') }}"></script>
</body>
</html>