{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="maintenance_container">
    <div class="maintenance_header">
        <div class="maintenance_code">Application Under Maintenance</div>
    </div>
    <div class="maintenance_content">
        <p>Please be informed that there is a maintenance activity being done on the website. Please revisit at a later point in time. </p>
        <p>If you are seeing issue, please report it to this email 'service.email@gmail.com'</p>
    </div>
</section>

{% endblock %}